/*Global */

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 85px;
}
h6{
    font-size: 35px;
}
body{
    font-family: 'Segoe UI';
    background-color: #EFEFEF;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.7s linear;
    cursor:  url("../images/cursor.png") 2 2, pointer;

}
hr{
    clear: both;
    width: 90%;
    margin: 0 auto;
}
/* Header */
#countHugs{
    color: #ffffff;
}
#main-header #greeting{
    word-wrap: break-word;
}
#main-header{
    background-color: #0094FF;
    width: 100%;
    height: 100%;
}
#main-header h1, #main-header h6{
    color: #ffffff;
}

#main-header .button-wrap{
    text-align: center;
    margin-bottom: 200px;
}

#main-header .introduction{
    width: 65%;
    
}

.button-wrap button{
    background-color: #98baea;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    height: 25px;
    width: 120px;
    text-shadow: 0px 1px 1px #6d3535;
}
.button-wrap button:hover{
    background-color: #D1E4FF;
}
.introduction #intro-wrap{
    width: 100%;
    padding: 35px;
}

/* About Section */
#main-section{
    padding: 10px;
    margin-top: -60px;
}

.about-section{
    height: 100%;
    background-color: #FF6A00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}


.about-bg-top{
    border-bottom: 100px solid #FF6A00;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 0;
    width: 15%;
    position: absolute;
    margin-top: -45px;
}

.about-main{
    background-color: #ffffff;
    width: 99%;
    height: 100%;
    z-index: 1;
    position: relative;
    border-radius: 15px;
    top: 2%;
}

#about-title{
    width: 270px;
    position: relative;
    top: 25px;
    margin: 0 auto;
    margin-bottom: 60px;
}
#about-title h2{
    color: #ffffff;
    width: 100%;
    background-color: #FFD800;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    border-radius: 10px;
}
#about-photo{
    margin-right: 50px;
    margin-bottom: 2%;
    text-align: center;
    margin: 0 auto;
}
#about-photo img{
    width: 160px;
    height: 190px;
}
#about-intro{
    margin-left: 5%;
    margin-bottom: 5%;
    display: inline-block;
}
#about-intro #name{
    color: #828282;
    font-size: 25px;
    width: 100%;
}

#about-content{
    padding: 5%;
    letter-spacing: 1px;
}


#about-content p, #about-intro{
    transition: margin-left 1s linear, opacity 1s linear;
    margin-left: -350px;
    opacity: 0;
}
/* Portfolio Section */



.portfolio-section{
    height: 100%;
    background-color: #FF6A00;
    overflow: hidden;
}

.portfolio-details{
    background-color: #ffffff;
    width: 100%;
    min-height: 155px;
    text-align: center;
    padding: 25px;
}
.portfolio-details ul{
    text-align: center;
    width: 100%;
    margin-top: -245px;
    transition: margin 1s linear;
}
.btn{
    display: inline-flex;
    width: 200px;
    margin-right: 50px;

}
.btn img{
    width: 100%;
    height: 100%;

}
.btn:hover, .active{
    background: rgba(255, 106, 0, 0.13);
}
.activeContent{
    display: block;
}
.portfolio-details-container{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 275px;

}
.portfolio-header{
    color: #404040;
}
.portfolio-header span{
    color: #ffffff;
}
.bg-select{
    display: inline-flex;
}
.medium-h1{
    font-size: medium;
    margin-top: 15px;
}
.rocket-content,.globe-content,.cube-content{
    display: none;
}
.projects-box{
    padding: 10px;
    margin-top: 25px;
}
.project-container{
    width: 250px;
    height: 250px;
    background: #ffffff;
    display: inline-block;
}
/* Social links */

#socials-nav{
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: -5%;
    overflow: auto;
    
}
.social-nav-btn ul{
    list-style: none;
}
.social-btn{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 15px;
    margin-bottom: 30px;
}
.social-nav-wrap{
    padding: 45px;
    display: inline-block;
}
.social-nav-header h1{
    color: #404040;
    font-size: 60px;
}
#linkedIn{
    background-color: #0077B5;
}
#twitter{
    background-color: #1DA1F2;
}
#github{
    background-color: #24292E;
}

.fa-linkedin,.fa-github,.fa-twitter{
    vertical-align: middle;
    text-align: center;
    line-height: 60px !important;
    margin-left: 20px;
    font-size: 25px !important;
    color: #ffffff;
}

#contact-form{
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin-top: 110px;
}

#contact-form textarea{
    width: 100%;
    max-width: 230px;
}

.buttons-container{
    margin-bottom: 25px;
}
.buttons-container .buttons{
    border: 0;
    padding: 5px;
    width: 100%;
}

input{
    padding: 5px;
}
/* footer */

#main-footer{
    padding: 15px;
}

#main-footer .site-rights{
    text-align: center;
}


