@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
}

.fake-header a{
    text-decoration: none;
    color: black;
    font-family: "Syncopate";
}
.fake-header{
    background: #ffffff;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    z-index: 1;
}
.fake-header h1{
    line-height: 45px;
}
.nav-fixed{
    padding: 10px;
    height: 100px;
    visibility: visible;
    box-shadow: -3px 2px 1px rgba(0, 0, 0, 0.12);
}

#header-content{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-shadow: inset 7px 2px 14px 1px #a5a0a0;
}

#header-content h1{
    font-family: "Syncopate";
}
#header-content h4{
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 100;
}

#main-header .parallax-1{
    opacity: 0.9;
    height: 580px;
    background-attachment: fixed;
    background-image: url("https://68.media.tumblr.com/fa4119f28a5186c78fd3819632d97ea5/tumblr_o7mo5bQqKD1ujcnnno1_500.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax-1 .caption-wrapper{
    width: 100%;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 250px;

}

.parallax-1 .caption{
    max-width: 550px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    margin-top: -380px;
}
.caption-wrapper #caption-bg{
    background: black;
    max-width: 350px;
    height: 370px;
    z-index: 1;
    left: 350px;
    opacity: 0.8;
    margin: 0 auto;
}
.caption h1{
    font-family: 'Segoe UI';
    color: #ffffff;
}
.caption > h1{
    font-size: 95px;
}
.caption h1:nth-child(3){
    font-size: 75px;
}
.highlight{
    width: 100%;
}
.highlight h1{
    background: #FFD800;
    color: #ffffff;
    font-family: Segoe UI;
    max-width: 450px;
    margin: 0 auto;
    font-size: 100px;
}
/*.parallax-1 #caption{
    font-size: 50px;
    color: #ffffff;
    vertical-align: middle;
    box-shadow: 0 0 black;
    font-family: bangers;
    margin: 0 auto;
}*/
#main-section{
    padding: 35px;
    background-color: #ffffff;
}

#main-section .about-me-wrapper, #main-section .portfolio-wrapper{
    padding: 10px;
    background: #ffffff;
    height: 100%;
    margin-bottom: 25px;
    color: silver;


}

#main-section .portfolio-wrapper{
    padding: 0px;
}

.about-me-wrapper h1, .portfolio-wrapper > h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Raleway';
    letter-spacing: 10px;
    font-weight: 100;
    font-variant: all-petite-caps;
    background: #000000;
}

.about-me-p, .portfolio-content{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 360px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.about-me-p p{
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    text-align: center;
    font-family: 'Segoe UI';
    margin: 0 auto;
    color: #636363;
}

.project{
    width: 100%;
    max-height: 450px;
    height: 450px;
}.project-info-box{
    max-width: 600px;
    text-align: center;
    float: right;
    padding: 10px;
    color: #4c4c4c;
    font-family: 'Segoe UI';
    font-size: 17px;
}
#project-bg-1{
    transition: all 0.2s linear;
    background-image: url(./pomodoroWeb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 75%;
    position: relative;
    float: left;
    max-width: 608px;

}#project-bg-1:hover,#project-bg-2:hover{
    height: 80%;
}

#project-bg-2{
    transition: all 0.2s linear;
    background-image: url(./quote-generator.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 75%;
    position: relative;
    float: left;
    max-width: 608px;

}

.project-bg-overlay{
    width: 100%;
    height: 100%;
}
.project-box{
    max-width: 350px;
    max-height: 400px;
    /* height: 350px; */
    background: #e8e8e8;
    position: relative;
    display: inline-block;
    margin: 5px;
}
.project-info:hover,.project-box:hover{
    cursor: pointer;
}
.project-info{
    visibility: hidden;
    text-align: center;
    max-width: 350px;
    width: 350px;
    position: absolute;
    height: 45%;
    bottom: 0;
    border-bottom: 100px solid #4a4a4a;
    border-right: 100px solid transparent;

}#project-name,#project-tech{
    float: left;
}#project-tech{
    clear: both;
    word-break: break-all;
}.project-label{
    width: 200px;
    height: 100%;
}#project-cat{
    font-size: 12px;
    background: #2f2f2f;
    padding: 5px;
    width: 100%;
    float: left;
}
#projecturl{
    color: black;
    font-variant: all-petite-caps;
}

.project-name-wrap{
    width: 100%;
    color: black;
    font-family: sans-serif;
    font-size: x-large;
    margin: 20px;
}

.project-tech-wrap{
    width: 100%;
    font-size: 20px;
    color: #424242;
    margin: 10px;
}




.msg-box{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}


.msg-box-content{
    width: 350px;
    background: cornflowerblue;
    height: 250px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin-top: 150px;

}

.msg-box-content p{
    margin: 15px;
}


.blur{
     -webkit-filter: blur(3px);
    filter: blur(3px);
}

#left-navigation{
    background: #404040;
    height: 280px;
    width: 50px;
    position: fixed;
    top: 195px;
}
.btn-nav{
    transition: background 1s linear, border-bottom 1s linear;
    height: 70px;
}
.btn-nav:hover{
    background-color: #646464;
    border-bottom: 1px solid #fdda17;
}


.fa-twitter,.fa-github,.fa-linkedin,.fa-wakatime{
    color: #ffffff;
    padding: 9px;
    font-size: 35px !important;
}
.fa-wakatime{
    font-weight: 900;
    font-family: cursive;
    padding: 5px;
}


.go-top{
    width: 50px;
    height: 50px;
    background: #fdda17;
    bottom: 120px;
    right: 30px;
    position: fixed;
    display: none;
}
#clickable-wrap{
    width: 100%;
    height: 100%;
}
#arrow{
    text-align: center;
    line-height: 69px;
    font-size: 50px;
}

.github-widget{
    margin: 0 auto;
}