*{
    transition: all 1s linear;
}
body{
    background-color: #e83f3f;
}
.container{
    text-align: center;
    max-width: 600px;
    background-color: #ffffff;
    margin: 17% auto auto auto;
    border-radius: 25px;
    border: 1px solid transparent;
}
.content-wrapper{
    width: 100%;
    overflow: hidden;
}
#msg-box{
    position: relative;

}
.btn{
    border: 1px solid #ffffff;
    outline: none;
    padding: 15px;
    float: right;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff !important;
    background-color: #e83f3f;
}.btn:hover{
    cursor: pointer;
}
.fa-quote-left{
    margin-right: 10px;
}
#msg{
    padding: 15px;
    color: #e83f3f;
    font-size: 22px;
}
#share-box{
    width: 100%;
}
.twitter-share-button{
    background: #e83f3f;
    padding: 8px;
    float: left;
    position: relative;
    bottom: 10px;
    left: 25px;
    border-radius: 10px;
}
.fa-twitter{
    vertical-align: middle;
    color: #ffffff;
    font-size: 25px;

}
