body {
  font-family: 'Corbel';
  background-color: #F3F3F3; }

.big-banner {
  width: 100%;
  height: 381px;
  background-image: linear-gradient(70deg, #30CFD0 20%, #88ECC8 60%, #89EACB 100%);
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.38); }

.banner-text-wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: -150px; }

.image-container {
  width: 212px;
  height: 213px;
  margin-left: 100px; }

.profile-pic {
  width: inherit;
  height: inherit;
  margin-top: 150px; }

.social-links {
  display: inline-block;
  float: right;
  margin-top: -270px;
  padding: 50px; }

.fa-twitter {
  background-color: #00FFFF;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  color: #fff;
  float: right;
  display: block !important;
  font-size: 55px !important;
  text-align: center;
  line-height: 75px !important;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px black;
  -webkit-transition: transform 2.0s ease;
  -moz-transition: transform 2.0s ease;
  -o-transition: transform 2.0s ease; }

.fa-twitter:hover {
  transform: rotate(360deg); }

.fa-github {
  background-color: #808080;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  color: #fff;
  float: right;
  display: block !important;
  font-size: 55px !important;
  text-align: center;
  line-height: 75px !important;
  box-shadow: 1px 1px 1px black;
  -webkit-transition: transform 2.0s ease;
  -moz-transition: transform 2.0s ease;
  -o-transition: transform 2.0s ease; }

.fa-github:hover {
  transform: rotate(360deg); }

.contact-btn-wrapper {
  max-width: 237px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 25px; }

.btn-primary {
  -webkit-appearance: button;
  border: 0;
  background: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #fff;
  transition: background .3s ease-in; }

.email-icon {
  width: 43px;
  height: 35px;
  margin: 10px;
  vertical-align: middle; }

.btn-text {
  text-align: center;
  line-height: 60px; }

#title {
  margin-left: 95px;
  margin-top: -55px; }

.btn-primary:hover {
  background-position: 237px; }

.about-me {
  background-color: #fff;
  padding: 25px;
  margin-top: 150px;
  max-width: 1150px; }

#box-1-title {
  position: relative;
  margin-top: -60px;
  float: left; }

.paragraph-wrapper {
  display: flex; 
  width: 100%;}

.technologies {
  background-color: #fff;
  padding: 25px;
  margin-top: 150px;
  margin-left: 40px; }

#box-2-title {
  position: relative;
  float: right;
  margin-top: -60px; 
}

#box-2-title img{
  width: 100%;
}

.knowledge-box {
  padding: 25px;
  margin: 25px; }

.main {
  display: flex; }

#desc {
  font-size: 20px; }

.skill-desc-wrap {
  display: flex; }

.additional-knowledge {
  margin-left: 150px; }

.additional-title {
  font-size: 25px;
  color: #808080;
  font-weight: bold; }

.tech-logos {
  display: flex;
  margin-left: 15px;
  padding: 15px; }



#bootstrap img, #mediaq img, #regression img {
  width: 100%;
  height: 100%; }

#bootstrap, #mediaq, #regression {
  margin: 5px; }


a {
  text-decoration: none;
  color: #fff; }

h1 {
  color: #fff;
  font-size: 4em;
  text-shadow: -1px -1px 0px #fff; }

p {
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px; }

@media only screen and (max-width: 480px) {

  .main{
    display: block;
  }

  .tech-logos{
    display: block;
    margin-left: 0px;
    padding: 0px;
  }

  .image-container {
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin: 0px 100px 0px 100px;
  }

.profile-pic {
    width: inherit;
    height: inherit;
    margin-top: 0px;
}

.banner-text-wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}

h1 {
    font-size: 2.3em;
    margin: 0px 80px 0px 80px;
}
#title {
    margin-left: 0px;
    margin-top: 0px;
    margin: 0px 80px 0px 80px;
}

.social-links {
    display: none;
}

}
@media only screen and (min-width: 480px) {
  body:after {
    content: "480 to 768px";
    background-color: rgba(41, 163, 163, 0.7); } }
@media only screen and (min-width: 768px) {
  body:after {
    content: "768 to 1024px";
    background-color: rgba(102, 41, 163, 0.7); } }
@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    background-color: rgba(163, 41, 41, 0.7); } }

/*# sourceMappingURL=main.css.map */
