
body{
   font-family: 'Roboto', sans-serif;
}

#twitter{
    width: 100px;
    height: 100px;
    background: #00FFFF;
    border-radius: 50%;
    position: absolute;
    margin: 50px;
}
.fa-twitter{
    font-size: 55px !important;
    color: #fff;
    margin: 25px;
}
.banner{
    background-color: #004A7F;
    min-height: 250px;
    height: 100%;
    width: 100%;
    margin-top: -25px;
}
.rocket{
    margin: 0 auto;
    width: 150px;
}
.fa-rocket{
        font-size: 150px !important;
        color: #fff;
}
#banner-text{
    text-align: center;
    color:#fff;
    line-height: 250px;
}

#banner-text-intro{
    text-align: center;
    color:#fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.content{
    padding: 15px;
}
.box-title{
    text-align: center;
    font-size: 25px;
}
.info-box{
    background-color: #E5E5E5;
    padding: 15px;
}
.picture-container{
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
}
#profile-pic{
    width: 100%;
}
h1{
    font-weight: lighter;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
img{

}






@media only screen and (min-width: 320px) and (max-width: 800px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90,60%,40%,0.7);
    }
    #twitter{
    display: none;
    }
    #banner-text h1 {
    margin: 25px;
    }
    #banner-text {
    text-align: center;
    color: #fff;
    height: 150px;
    }
    .banner{
    min-height: 450px;
    }
}



@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180,60%,40%,0.7);
    }


}
@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }
}

/*
@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    }
    #twitter{
    display: block;
    }
    #banner-text h1{
    font-weight: lighter;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .banner{
    min-height: 250px;
    height: 100%;
    width: 100%;
    margin-top: -25px;
    }
    #banner-text{
    text-align: center;
    color:#fff;
    line-height: 250px;
    }
}*/