
body{
   font-family: 'Roboto', sans-serif;
}

#twitter{
    position: absolute;
    margin: 50px;
}

#github{
    position: absolute;
    margin: 50px;
    margin-top: 200px;
}
.fa-twitter,.fa-github{
    font-size: 55px !important;
    color: #fff;
    margin: 25px;
}
.fa-bars{
    font-size: 25px !important;
    margin-top: 50px;
    color: #2341af;
}
.menu-navs{
    background-color: #fff;
    margin-top: -15px;
    display: none;
    /* Show when menu-button is click */
}
.menu-navs li{
    padding: 5px;
    text-align: center;
}
.menu-button{
    margin-left: 25px;
    line-height: 75px;
}
.menu{
    display: none;
    box-sizing: border-box;
    background-color: #fff;

}
.banner{
    background: url("../images/planet.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: -25px;
}
.rocket{
    margin: 0 auto;
    width: 150px;
}
.fa-rocket{
        font-size: 150px !important;
        color: #fff;
}
#banner-text{
    text-align: center;
    color: #fff;
    line-height: 250px;
    text-shadow: 1px 1px 1px black;
}

#banner-text-intro{
    text-align: center;
    color:#fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.content{
    padding: 15px;
}
.box-title{
    text-align: center;
    font-size: 25px;
}
.info-box{
    background-color: #E5E5E5;
    padding: 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);

}
.picture-container{
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
}
#profile-pic{
    width: 100%;
}
.paragraph-container{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #404040;
}

#cat-1{
    text-align: center;
}
.cat-1-items{
    text-align: center;
    display: flow-root;
}
.left{
    float: left;
}
.middle{
    display: inline-block;
    margin-left: 35px;
}
.right{
    float: right;
}
#html{
    background-color: #ea4b0e;
}
#css{
    background-color: #de9c4d;
}
#js{
    background-color: #14a92d;
}
#html,#css,#js{
    color: #fff;
    border-radius: 5px;
}
.html-box #i{
    background-color: brown;
}
.html-box #ii{
    background-color: teal;
}
.html-box #iii{
    background-color: #1d41a7;
}
.css-box #iv{
    background-color: #1B946B;
}
.css-box #v{
    background-color: #7167C3;
}
.css-box #vi{
    background-color: #6D9455;
}
.css-box #vii{
    background-color: #6F2525;
}
.css-box #viii{
    background-color: #E85C76;
}
.js-box #ix{
    background-color: #F34B30;
}
.js-box #x{
    background-color: #E4B01C;
}
h1{
    font-weight: lighter;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    letter-spacing: 1px;
}
img{

}
ul{
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
}
hr{
    width: 10px;
    border-top: 2px solid #0728a0;
    margin-top: -20px;
}
h5{
    font-weight: lighter;
    border-radius: 5px;
    color: #fff;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}
h5:hover{
    opacity: 0.5;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90,60%,40%,0.7);
    }
    .menu{
        display: block;

    }
    #twitter,#github{
    display: none;
    }
    #banner-text h1 {
    margin: 25px;
    }
    #banner-text {
    text-align: center;
    color: #fff;
    height: 150px;
    }
    .banner{
    min-height: 450px;
    }
}

@media only screen and (max-width: 360px){
    .cat-1-items{
        display: flex;
    }
}

@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180,60%,40%,0.7);
    }


}
@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }

    .cat-1-items{
        padding: 15px;
    }
}

/*
@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    }
    #twitter{
    display: block;
    }
    #banner-text h1{
    font-weight: lighter;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .banner{
    min-height: 250px;
    height: 100%;
    width: 100%;
    margin-top: -25px;
    }
    #banner-text{
    text-align: center;
    color:#fff;
    line-height: 250px;
    }
}*/