* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.name{
	background-color: #808080;
	width: 133px;
	height: 27px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: #fff;
	vertical-align: middle;
	line-height: 28px;
	text-align: center;
	margin-top: 15px;
	margin-left: 265px;
	display: table-cell;
}
.content-page{
	clear: both;
	background-color: rgba(158, 197, 170, 0.15);
	max-width: 744px;
	height: 100%;
	padding: 35px;
	margin: 0 auto;
}

.box{
	display: inline-block;
	width: 220px;
	height: 203px;

}

.box:hover{
	opacity: 0.8;
}

.odin-box{
	background-color: #FF8F63;
}

.about-box{
	background-color: rgb(102, 220, 255);
}

.project-box{
	background-color: #66FFB2;

}

h2{
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 53px;
	font-weight: 500;
}

.box-description{
	display: block;
	color: #fff;
	width: 160px;
	height: 79px;
	margin: 10px 10px 20px 40px;
	margin-top: 35px;
	position: absolute;
	font-weight: 400;
}



body{
	font-family: "Segoe UI";
	background: #526C7F;

}


.odin-box-content{
	max-width: 671px;
	height: 100%;
	background-color: #FF8F63;
	margin: 5px;
	border-radius: 15px;
	color: #fff;
	display: none;
}

.project-box-content{
	max-width: 671px;
	min-height: 305px;
	background-color: #66FFB2;
	margin: 5px;
	border-radius: 15px;
	color: #fff;
	display: none;
}

.about-box-content{
	max-width: 671px;
	height: 100%;
	background-color: rgb(102, 220, 255);
	margin: 5px;
	border-radius: 15px;
	color: #fff;
	display: none;
}

.task-box{
	margin: 5px;
	padding: 5px;

}
.yt,.google{
	border-radius: 5px;
	width: 186px;
	height: 144px;
	display: inline-block;
	background-color: #fff;
	margin: 5px;
}

.yt{
	background:#fff url("../images/badge.png") no-repeat;
	background-position: top right;
	background-size: 55px 25px;
}
.google{
	background: #fff url("../images/badge2.png") no-repeat;
	background-position: top right;
	background-size: 45px 25px;
}

.yt a, .google a{
    margin: 0px 10px 0px 30px;
	font-size: 13px;
	line-height: 144px;
	color: #e62117;
	text-decoration: underline;
}

.task-desc{
	margin: 15px;
	padding: 10px;
	color: #fff;
	font-size: 17px;
	letter-spacing: 1px;
	display: inline-block;

}
.task-desc a{
	color: black;
}

a{
	text-decoration: none;

}

.important{
	display: inline-block;
}

.picture-box{
	display: block;
}

.picture-box{
	background-color: #fff;
	width: 114px;
	height: 112px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}


.picture-box-bar{
	background-color: #AAFFC1;
	width: 114px;
	height: 18px;
}

.picture-box-contain,.technologies-box-contain{
	padding: 10px;
	margin: 10px;
}

.html-img, .css-img{
	width:236px;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin-top: 35px;
}


.technologies-box{
	background-color: #ffffff;
	text-align: center;
}


.html-desc{

	color: #333333;
	font-weight: bolder;
	display: block;
	padding: 55px;
	line-height: 25px;
	margin-right:15px;
}

.css-desc{
	color: #333333;
	font-weight: bolder;
	display: block;
	padding: 55px;
	line-height: 25px;
	margin-right: 15px;

}


.source{
	font-style: italic;
	font-weight: 500 !important;
}

.follow-button{
	display: inline-grid;
	position: fixed;
}



h2{
	width: 100%;
	height: 30px;
	color: #fff;
	font-weight: bolder;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
}

.intro-paragraph{
	color: #333333;
	font-weight: bolder;
	display: block;
	line-height: 25px;
	padding: 55px;
}

.about-me-desc{
	background-color: #ffffff;
}


.project-desc{
	margin: 15px;
	padding: 10px;
	color: #fff;
	font-size: 17px;
	letter-spacing: 1px;
	display: inline-block;
}
