*{
    box-sizing: content-box;
    color: #ffffff;
}
.active{
    background-color: black;
}
body{
    font-family: 'Calibri';
    background-image: url("https://pixabay.com/get/e83db20a2df0073ecd1f430de64e4596e16ae3d019b9164692f1c27c/electricity-1835546.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}
a{
    text-decoration: none;
}

h1{
    font-style: italic;
    font-weight: 500;
    max-width: 500px;
}
input{
    color: black;
    border: 0;
    padding: 10px;
}


/* Header */


#main-header #current-date{
    height: 70px;
    line-height: 70px;
    margin: 10px;
}
#reminder-section-set{
    margin: 10px;
}
.set{
    background-color: rgba(14, 14, 13, 0.4);
    max-width: 400px;
    border-radius: 15px;
    /* height: 100%; */
    position: relative;
    /* max-height: 500px; */
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
.set-title{
    text-align: center;
    padding: 10px;
}

.add-new-reminder, .reminder-lists{
    padding: 10px;
}

.reminder-lists{
    position: relative;
}
.add-new-reminder{
    background-color: rgb(80, 80, 80);
    box-shadow: -1px 1px 6pt 0pt #101010;
    border: 0px;
    font-size: 17px;
    outline: none;
    margin-right: 10px;
}
.add-new-reminder:hover{
    background: transparent;
    cursor: pointer;

}
.a-reminder{
    padding: 5px;
}

.a-reminder:hover{
    cursor: default;
    outline: 1px solid orange;
    
}
.delete-reminder{
    float: right;
    border-radius: 100%;
    border: 1px solid #868686;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
    background: #ff4949;
}
.delete-reminder:hover{
    background-color: red;
}
#create-set{
    background: #ff533d;
    border: 0;
    padding: 10px;
    position: relative;
    left: 25px;
}
.create-reminder-control{
    margin: 15px;
}
.save-control{
    bottom: 0;
    width: 100%;
    text-align: center;
}.save-reminder-button{
    background-color: #FF533D;
    max-width: 200px;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 0;
    outline: none;
    box-shadow: 0px 2px 1px 0px #803e3e;
    transition: all 1s linear;
}.save-reminder-button:hover{
    background-color: rgb(234, 56, 33);
    cursor: pointer;
}

#setting{
    background: rgba(74, 74, 74, 0.15);
    max-width: 920px;
    margin: 0 auto;
    height: 500px;
}
.setting-wrapper{
    text-align: center;
    height: 100%;
}
.setting-wrapper h5{
    float: left;
    margin-left: 25px;
}

.personalized-name-wrapper h1{
    font-size: 3rem;
    font-family: 'Segoe UI';
    font-weight: lighter;
    font-style: unset;
    max-width: none;
}

#input-huge{
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    outline: none;
    margin-bottom: 100px;
    margin-top: 100px;
}

.btn-setting-saved button{
    width: 150px;
    height: 35px;
    background: #ff533d;
    border: 0;
    outline: 0;
}

#message{
    padding: 10px;
}