
body{
	background: #efefef;
	font-style: sans-serif;
}

.youtube-logo{
	cursor: pointer;
	top: 15px;
	position: absolute;
}

.menu{
	background: transparent;
	border: 0;
	cursor: pointer;
	width: 40px;
	height: 100%;
	font-size: 15px;
	margin-top: 15px;
	position: relative;
}


.upload{
 	background: transparent;
 	border: 0;
 	cursor: pointer;
 	font-size: 20px;
 	color: grey;
 	margin-right: 35px;

}

.notification{
	background:transparent;
	border:0;
	cursor: pointer;
	font-size: 20px;
	color: grey;

}


.item{
	display: inline-block;

}


.header{
	border-bottom: 1px solid #e8e8e8;
	z-index: 1000;
	min-height: 50px;
	background: white;
}

.search-box{
	padding: 10px;
	margin-left: 150px;
	margin-top: -40px;
}

.search-box input{
	height:20px;
	width: 523px;

}

.button-search{
	background: transparent;
	font-size:inherit;
	height: 30px;
	width: 70px;
}

.button-search:hover, .upload:hover, .notification:hover {
    border-color: #c6c6c6;
    background: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.right-items{
	float:right;
	margin-top: -45px;
	margin-right: 45px;
	padding: 5px;
}



.profile-pic{
	width: 27px;
	height: 27px;
	border-radius: 100%;
	position: absolute;
	margin-top: -26px;
	margin-left: 110px;
}


.title{
	display: block;
	font-weight: normal;
	line-height: normal;
	word-wrap: break-word;
	font-size: 20px;
	padding: 15px;
}

.user-item{
	display: inline-block;
}

#channel-title {
	vertical-align: top;
	display: inline-block;
	color: #333;
	height: 22px;
	max-width: 315px;
	text-overflow: ellipsis;
	margin-top: -5px;
}

#channel-title a{
	text-decoration: none;
	font-weight: bold;
	color: #333;
	margin: 0;
}

#channel-title a:hover{
	text-decoration: underline;
}
.fa-youtube-play{
	color: white;
	background: transparent;
	border: 0;
}



.subscribe button{
	border-radius: 2px;
	background-color: #e62117;
	color: white;
	border: 0;
	left: 210px;
	margin-top: -25px;
	position: absolute;
	height: 24px;
}

.subscribe button:hover{
	cursor: pointer;
	background-color: #cc181e;

}

.subscriber-count{
	border: 1px solid #ccc;
	position: absolute;
	margin-left: -23px;
	margin-top: -25px;
	display: inline-block;
	color: #737373;
	font-weight: 500;
	height: 22px;
	width: 24px;
}

.subscribe span{
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
	border-radius: 0 2px 2px 0;
}

.subscribe{
	clear: both;

}

.right{
	float:right;
}

.right-itm{
	float: right;
	display: inline-block;
}

.left-itm{
	float: left;
	display: inline-block;
	position: absolute;
	margin: 5px;

}



.block{
	display: block;

}


.user-channel{
	display: inline-block;
	width: 560px;
}

.count-contain{
	float: right;
	margin-top: 35px;
}

.bar-likes{
	height: 2px;
	background: #167ac6;
}

.views{
	font-size: 19px;
	color: #666;
	line-height: 24px;
	max-height: 24px;
}

.yt-f{
	padding: 5px;
}

#video-container{
	margin-left: 145px;
	margin-top: 30px;

}

.bottom-buttons{
	border-top: 1px solid #e2e2e2;
	min-width: 490px;
	width: 490px;
	margin-top: -25px;
}

.bt-bottom{
	display: inline-block;
	padding: 5px;
}

.video-information{
	min-width: 560px;
	width: 560px;
	background: white;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.video-title{
	min-width: 490px;
	width: 490px;
}

.fa-thumbs-down, .fa-thumbs-up{
	color: grey;
}

.fa-thumbs-up:active,.fa-thumbs-down:active{
	color:#167ac6 !important;
}

.fa-thumbs-up:hover,.fa-thumbs-down:hover{
	color:#666;
	cursor: pointer;
}

.queue-videos{
	background:white;
	margin-right: 65px;
	min-width: 450px;
	width: 450px;
	margin-top: -665px;
	height: 100%;
	padding: 15px;
	border-left: 1px solid #e8e8e8;
}

.fa-info-circle{
	margin-left: 5px;
	color: grey;
}

.fa-info-circle:hover{
	cursor: pointer;
}

.autoplay{
	margin-right: 65px;
	clear: both;
	margin-top: 5px;
}

.next{
	color: #222;

}

/* this sets the actual size of the label */
.checkbox-on-off {
  display: inline-block;
  width: 35px;
  padding-right: 2px;
  overflow: hidden;
  vertical-align: middle;
  float: right;
  clear: both;
  margin-top: -15px;
  margin-right: 15px;
}

/* this positions the check box label over the text box */
.checkbox-on-off input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

/* makes the background blue */
.checkbox-on-off input[type=checkbox]:checked+label {
  background-color: #167ac6;
}
/* this is the grey background check mark */
.checkbox-on-off label {
  display: inline-block;
  border: 1px solid transparent;
  height: 13px;
  width: 100%;
  background: #b8b8b8;
  cursor: pointer;
  border-radius: 20px;
}

/* this adds the check mark */
.checkbox-on-off input[type=checkbox]:checked+label .checked {
  display: inline-block;
  margin-top: 3px;
  margin-left: 6px;
  background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflAhaHWR.webp) -421px -77px;
  background-size: auto;
  width: 10px;
  height: 7px;
}

/* if you click the checkbox, it sometimes has a grey square */
.checkbox-on-off label .checked {
  display: none;
}

.checkbox-on-off input[type=checkbox]:checked+label .unchecked {
  display: none;
}
.checkbox-on-off label .unchecked {
  display: inline-block;
  float: right;
  padding-right: 3px;
}

/* this positions the white dot */
.checkbox-on-off input[type=checkbox]:checked+label .toggle {
  float: right;
}

/* this is the actual white dot */
.checkbox-on-off label .toggle {
  float: left;
  background: #fbfbfb;
  height: 13px;
  width: 13px;
  border-radius: 20px;
}


.video-thumbnail{
	cursor: pointer;
}



.next-videos,.video-next{
	margin: 15px;
}

.video-list{
	margin-top: 30px;
}


.video-time{
	margin-left: -25px;
	color: white;
	font-size: 12px;
	background: black;
}

.side-info{
	display: block;
	clear: both;

}

.video-li-info{
	float: right;
	clear: both;
	margin-right: -15px;
}

.video-ul{
	clear: both;
}

.video-li-title{
	font-weight: bold;
	font-size: 14px;
	color:#333;
	display: inline-block;
}

.video-li-title:hover{
	color: #167ac6;
	cursor: pointer;
}

.video-li-channel,.video-li-views{
	font-size: 13px;
	color:#767676;
	padding: 2px;
	margin: 0;
}

.video-description{
	background: white;
	margin-top: 15px;
	min-width: 540px;
	width: 540px;
	display: inline-block;
	padding: 10px;
	line-height: 17px;
	color: #333;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.publish-date{
	font-size: 100%;
	font-weight: 500;
}

.block-itm{
	padding: 5px;
	display: block;
	font-size: 11px;


}

.title-block{
	font-weight: 600;
    line-height: 11px;
	font-size: 11px;
	width: 100%;
	color: #333;
	padding: 5px;
}

.category,.license{
	line-height: 5px;
	color: #333;
}


.comment-section{
	background: white;
	margin-top: 15px;
	width: 560px;
	min-width: 560px;
	height: 80px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.comment-service{
	text-align: center;
	vertical-align: middle;
	line-height: 80px;   
	margin-left: 180px;
}



.main-footer{
	background: white;
	margin-top: 150px;
	height: 55px;
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;

}

.item{
	display: inline-block;
}