body{
    background: #FF8266;
    font-family: 'Calibri Light';
    visibility: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    transition: all 1s linear;
}

.container{
        padding: 35px;
}
.main-status{
    background: #303030;
    max-width: 100%;
    min-height: 280px;
    border-radius: 250px;
    float: left;
}
.location{
    color: #ffffff;
    font-weight: 900;
    font-size: 2em;
    padding: 75px;
}

#desc{
    color: #ffffff;
    font-size: 35px;
    margin-left: 70px;
}
.weather-status{
    background: #ffffff;
    height: 61px;
    width: 131px;
    border-radius: 10px;
    padding: 10px;
    margin-left: -183px;
}
#temp{
    font-size: 60px;
    font-weight: 900;
    color: #303030;
}
#temunit{
    font-size: 56px;
    color: #0094FF;
    font-weight: 800;
}#temunit:hover{
    cursor: pointer;
}


.more-info{
    max-width: 133px;
    color: #00fdff;
    height: 100px;
    position: absolute;
    background-color: grey;
    background: rgb(107, 99, 99);
    background: rgba(2, 2, 2, 0.49);
    padding: 10px;
    font-family: 'Calibri Light';
    border-radius: 10px;
    font-size: 19px;
    margin-left: 450px;
}
#humidity,#wind{
    margin: 5px;

}
#hint-box{
    color: antiquewhite;
    font-size: 13px;
}

@media only screen and (max-width: 500px){
        .main-status{
        min-height: 0px !important;
        height: 249px !important;
        }
        .location{
        font-size: 31px !important;
        padding: 45px;
        }
        .weather-desc{
        position: relative;
        top: -45px;
        }
        .more-info {
        margin-left: 0px;
        top: 185px;
        left: 44px;
        }
        #desc{
        font-size: 28px;
        margin-left: 38px;
        }
        .weather-status{
        height: 38px;
        margin-left: 41px !Important;
        position: relative;
        top: -43px;
        }
        #temp{
        font-size: 33px;
        }
        #temunit{
        font-size: 31px;
        }
}