*{
  box-sizing: border-box;
  
}
a{
    text-decoration: none;
    color: #ffffff;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
/* Main Cards */
#slide-cards #card-1,#card-2,#card-3{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition: 1s;
    visibility:hidden;
    transition: 0.5s;
    overflow: hidden;
}

#slide-cards #card-3 , #slide-cards #card-1, #slide-cards #card-2
{
    background-image: url("../../resources/images/bg-huge.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card{
    text-align: center;
} 

.card p{
    padding: 35px;
    color: #ffffff;
    font-size: 0.95em;
    font-weight: 300;
    opacity: 0.9;
    line-height: 1.5em;
}
#cardTitle{
    font-size: 3em !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
}

/* Continue */
.continue {
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 3vh;
  width: 40%;
  height: 30px;
  border: 2px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6em;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 800;
  margin-top: 10%;
}

.continue:hover {
  background-color: white;
  color: #ff4f57;
}


/* Frame */
#frame
{
    z-index: -1;
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

/* Current card indicator */
#slidePos-wrap
{
    display:block;
    width:100%;
    height:20%;
}
#slidePos-container
{
    display:block;
    width:5%;
    height:15%;
    margin-right:5%;
    margin-top:2%;
    float:right; 
    bottom: 0;      
}
#slidePos-container #slidePos
{
    margin:0;
    float:right;
    display:block;
    width:100%;
    height:100%;
}
#slidePos li
{

    list-style:none;
    display:block;
    background-color:rgba(0, 0, 0, 1);
    width:25%;
    height:90%;
    margin-left:5%;
    float:left;     
    visibility:hidden;
    border-radius: 25%;

}


/* Card navigator */
#slideNav 
{
    display:block;
    width:100%;
    height:15%;
    margin-top:150px;    
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.8em;
}


#left,#right{
  color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.8em;

}
#left
{
    width:8%;
    height:100%;
    float:left;
    margin-left:3%;
    opacity:0.8;
}

#left:hover 
{
    opacity:0.8;
}
#right 
{
    width:8%;
    height:100%;
    float:right;
    margin-right:3%;
    opacity:0.8;
}
#right:hover 
{
    opacity:0.8;
}



